@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.topSearch {
    padding: 0.5rem;
    gap: 1rem
}


.npmLogo {
    width: 100px;
}

.searchForm {
    display: flex;
    width: 100%;
    /** Formulario, ocupa todo el espacio disponible que te deje tu contenedor padre flex*/

}

.searchForm>img {
    background-color: rgba(0, 0, 0, .05);
    width: 50px;
}

.searchForm>input {
    padding: 1rem;
    border: none;
    /** 1 rem en cuatro direcciones*/
    flex-grow: 1;
    /** Respecto a tus hermanos , tu debes crecer siempre y tomar el espacio disponible que te permitan */

}

#package-name {
    background-color: rgba(0, 0, 0, .05);

}

input[type=submit] {
    background-color: #fb3e44;
    color: white;
    flex-grow: 0;
    /** Como hermano que eres de un contenedor flex, NUNCA crezcas si hay espacio disponible. Debes quedarte solamente con el espacio que necesitas */

}

.loginLinks {
    display: flex;
    align-items: center;
}

.loginLinks>a {
    color: rgba(0, 0, 0, .7);
    padding: 0.4rem 1rem;
    width: max-content;
    /** 0.4rem arriba y abajo de cada enlace, y 1rem izquierda y derecha de cada enlace*/
    /** En este width podríamos haber puesto unos píxeles "a fuego", porque si no, Log In queda en dos líneas (probar a borrar la propiedad width). max-content te asegura que el contenido va a quedarse en una sola línea de texto: https://developer.mozilla.org/en-US/docs/Web/CSS/max-content# */
}

/** Porque esta nomenclatura ? Metodología BEM */
.loginLinks__join {
    border: 1px solid rgba(0, 0, 0, .7);
}

.section-amazing {
    text-align: center;
    background-color: rgba(232, 217, 217, .3);
    padding: 50px 20px;
}

.section-amazing__title {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-amazing__description {
    width: 40%;
    margin: 0 auto;
}

.section-amazing__links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.section-amazing__links>a {
    padding: 1rem 3rem;
    font-weight: 700;
}

.link-see-plans {
    color: white;
    background-color: #fb3e44;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2)
}

.link-join-free {
    background-color: white;
}

.section-open-source {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.section-open-source__image {
    width: 200px;
}

.section-open-source__title {
    font-size: 2rem;
    font-style: italic;
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg, 0deg);
    /** En CSS podemos realizar diferentes transofrmaciones sobre los elementos (rotarlos, moverlos, escalarlos) https://www.w3schools.com/css/css3_2dtransforms.asp */
}

.section-open-source__description {
    text-align: center;
    width: 60%;
}

.section-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.features {
    display: flex;
    width: 80%;
}

.features img {
    height: 2rem;
}

.features h3 {
    color: #ED1C24;
    font-weight: 700;
}

.create-org-button {
    padding: 15px 120px;
    color: white;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
}